<li id="comment-<%= comment.id %>">
  <img src='<%= comment.user.image %>' class="icon_image" alt="ユーザーアイコン">
  <span class="user"><%= link_to comment.user.username, comment.user %></span>
  <span class="content"><%= comment.content %></span>
  <span class="timestamp">
    <%= time_ago_in_words(comment.created_at) %>前
    <% if current_user?(comment.user) %>
      <%= link_to "削除", micropost_comment_path(comment.micropost, comment), method: :delete,
                                       data: { confirm: "削除しますか？" } %>
    <% end %>
  </span>
</li>