<% provide(:title, 'ユーザーヘルプ') %>
<h1><%= t('.resend_unlock_instructions') %></h1>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit t('.resend_unlock_instructions'), class: 'btn btn-primary btn-block'%>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
