<% provide(:title, 'ユーザーヘルプ') %>
<h1><%= t('.forgot_your_password') %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= bootstrap_devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-primary btn-block' %>
      </div>
    <% end %>

    <%= render 'devise/shared/links' %>
  </div>
</div>