<%= month_calendar events: user.microposts do |date, microposts| %>
  <%= "#{date.day}日" %>
  <div>
    <%= "#{microposts.pluck(:time).sum}時間" unless microposts.pluck(:time).sum == 0 %>
  </div>
<% end %>