<%= form_with(model: @micropost, local: true, id: :micropost_form) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.number_field :time, step: "0.5", min: '0', max: '10', class: 'form-time', placeholder: "勉強時間を入力してください（h）" %>
  </div>
  <div class="form-group">
    <%= f.collection_select :subject, current_user.categories, :name, :name, { prompt: 'カテゴリを選択してください' }, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.text_area :content, placeholder: "メモを記入してください" %>
  </div>
  <div class="form-group">
    <%= f.date_field :start_time %>
  </div>
  <%= f.submit "投稿", class: "btn btn-primary btn-submit" %>
<% end %>
<hr class="border-dark my-5">
<div class="form-group">
  <%= link_to "実施したカテゴリーがありませんか？", categories_path, class: 'btn btn-secondary btn-block' %><br />
</div>