<% @user ||= current_user %>
<div class="study-time">
  <p><%= "勉強総計：#{@user.microposts.pluck(:time).sum}　時間" %></p>
</div>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>