<h1>
  <img src=<%= current_user.image %> class = "icon_image">
  <%= current_user.username %>
</h1>
<% if @user == current_user %>
  <%= link_to "プロフィール編集", edit_user_registration_path %>
<% end %>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>
