<div id="home" class="big-bg">
  <div class="center jumbotron home-content">
      <h1 class="page-title">Study App</h1>
      <h2>
        勉強をもっと楽しく、続けませんか？<br>
        時間を記録し成長を感じましょう
      </h2>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>