<li id="micropost-<%= micropost.id %>">
  <img src='<%= micropost.user.image %>' class="icon_image" alt="ユーザーアイコン">
  <span class="user"><%= link_to micropost.user.username, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="subject col-3 rounded-pill"> 勉強科目 </span><%= micropost.subject %>
  <span class="time col-3 rounded-pill"> 勉強時間 </span><%= micropost.time %>時間
  <span class="timestamp">
    <%= time_ago_in_words(micropost.created_at) %>前
    <% if current_user?(micropost.user) %>
      <%= link_to "削除", micropost, method: :delete,
                                      data: { confirm: "削除しますか？" } %>
    <% end %>
  </span>
  <%= render "likes/like", micropost: micropost %>
  <%= link_to micropost , class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-pencil"><%= micropost.comments.count %></i>
    コメント
  <% end %>
</li>