<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <ol class="microposts">
      <%= render @micropost %>
      <li class="comments">
        <h3>コメント (<%= @comments.count %>)</h3>
        <%= render @comments %>
      </li>
    </ol>
    <%= form_with model: [@micropost, @comment], local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class = 'form-group'>
        <%= f.text_area :content, class: 'form-control',　id:'content', placeholder: "コメントを記入してください" %>
      </div>
      <%= f.submit "コメント", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>