@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

body{
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

/* フラッシュ用スタイル */
.alert-notice {
  @extend .alert-info;
}

/* miscellaneous */

.alert-alert {
  @extend .alert-danger;
}

/* homepage */

.big-bg {
  background-image: url("/images/background.jpg");
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  background-position: center;
  height: 600px;
  background-size: cover;
  position: relative;
  .home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    background-color: transparent;
    h2 {
      margin: 30px 0 42px;
      color: #000;
      font-weight: bold;
      font-size: 3rem;
    }
  }
  .page-title {
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 8rem;
  }
}

/* header */
.navbar-brand {
  width: 210px;
  margin-top: 14px;
}
.navbar-brand,
.nav-item {
  a {
    color: white;
  }
  a:hover {
    color: gray;
    text-decoration: none;
  }
}



/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.icon_image {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: solid 1px;
  object-fit: cover;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    margin-bottom: 30px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
    margin-top: 10px;
  }
  .time {
    display: inline;
    margin-right: 10px;
    margin-left: 30px;
  }
  .subject {
    display: inline;
    margin-right: 10px;
    margin-left: 60px;
  }
  .rounded-pill {
    background-color: orange;
    padding: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
.form-check-input {
  width: 45%;
  margin: 0;
}

.study-time {
  margin-bottom: 15px;
}
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.users.follow {
  padding: 0;
}

/* comments */

.comments {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}
.user_info {
  border-color: gray;
}

/* calendar */

.simple-calendar {
  .day {}
  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}
  .today {}
  .past {}
  .future {}
  .start-date {}
  .prev-month {}
  .next-month { }
  .current-month {}
  .has-events {
    background: #98fb98;
  }
  .calendar-heading{
    display: flex;
    justify-content: space-between;
    a{
      color: black;
    }
  }
}