<li>
  <%= category.name %>
  <% if current_user?(category.user) %>
    <%= link_to '削除', category, method: :delete,
                                id: "delete_button",
                                data: { confirm: '削除しますか？' } %>
  <% end %>
</li>