<% provide(:title, 'カテゴリー') %>
<h1>カテゴリー</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @category, local: true, id: :category_form) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :カテゴリー %>
        <%= f.text_field :name, placeholder: "追加したいカテゴリーを記入して下さい(10文字以内)", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit "追加", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
    <h3>カテゴリ一覧</h3>
    <ol class="categories">
      <%= render @categories %>
    </ol>
  </div>
</div>