<p><%= @resource.email %>様</p>

<p>サインインの試行に失敗した回数が多すぎるため、アカウントがロックされています。</p>

<p>アカウントのロックを解除するには、以下のリンクをクリックしてください。</p>

<p><%= link_to 'アカウントをアンロック', unlock_url(@resource, unlock_token: @token) %></p>
