<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <li class="navbar-brand">
      <%= link_to "Study App", root_path %>
    </li>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-link"><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
          <li class="nav-item nav-link">
              <%= link_to "マイページ", current_user %>
          </li>
          <li class="nav-item nav-link">
              <%= link_to "カテゴリー", categories_path %>
          </li>
          <li class="nav-item nav-link">
              <%= link_to "友達を探す", users_path %>
          </li>
          <li class="nav-item nav-link">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li class="nav-item nav-link">
              <%= link_to "ログイン", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>